<section class="intro">
 <%= render partial: 'application/navbar', locals: {back: false}%>
	<div class="slider animated fadeIn">
			<div class="slider-overlay">
				<a href="/" class="logo animated flipInY">
					<div class="rest">ресторан пивоварня</div>
				</a>
	         <div class="zal">
	         	<div class="zal-box">
		    		<a href="/pages/dorado" class="dorado"></a>
		    		<a href="/pages/bavariya" class="bavaria"></a>
		    	</div>
	    	</div>
			</div>
            <ul class="slidewrapper">
                <li class="slide"><%= image_tag("d01.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("b01.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("d02.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("b02.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("d03.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("b03.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("d04.jpg", class: "tobig", alt: "") %></li>
                <li class="slide"><%= image_tag("b04.jpg", class: "tobig", alt: "") %></li>
            </ul>
            <div class="prev-next-btns">
                <div class="prev-btn"></div>
                <div class="next-btn"></div>
            </div>
    </div>
    <div class="content">
    	<h1 class="animated fadeInDown"><div class="up">Welcome</div>Добро пожаловать в Хмельхаус!</h1>
        <div class="text">
            <p style="text-align: center;">Ресторан Хмель Хаус – это удивительное место, сочетающее в себе возможность проведения нескольких видов отдыха и разных гастрономических предпочтений.</p>
        </div>
    	<a href="/reservations/new" class="button">Забронировать столик</a>
        <div class="photos">
          <div class="photo-iteam"><%= image_tag("b02.jpg", class: "tobig", alt: "") %></div>
          <div class="photo-iteam"><%= image_tag("d02.jpg", class: "tobig", alt: "") %></div>
          <div class="photo-iteam"><%= image_tag("b01.jpg", class: "tobig", alt: "") %></div>
          <div class="photo-iteam"><%= image_tag("d01.jpg", class: "tobig", alt: "") %></div>
        </div>
    	<div class="text">
            <h2>Ресторан включает в себя три зала.</h2>
<p><h3>1 этаж – «Дорадо».</h3> Изысканный интерьер, винная комната, морепродукты и романтические вечера!</p>
<p><h3>2 этаж – «Бавария».</h3> Роскошный большой зал, собственная пивоварня, европейское меню и шоу-программа.</p>
<p><h3>Веранда</h3>При входе – атмосферная веранда, где действуют оба меню, а также детская игровая площадка.</p>
    		</p>
    	</div>
    	 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
    </div>
</section>