<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :message_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :message_description %>
  </div>

  <div class="field">
    <%= form.label :slave %>
    <%= form.text_area :slave, id: :message_slave %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :message_image %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :message_link %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :message_tag %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :message_url %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :message_link %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort, id: :message_sort %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :message_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
