<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
    <li><strong>Отзыв оставил: </strong> <%=  @review.name %></li>
    <li><strong>Телефон: </strong> <%=  @review.phone %></li>
    <li><strong>Email: </strong> <%=  @review.email %></li>
    <li><strong>Текст отзыва: </strong> <%=  @review.description %></li>
    <li><strong>Верификационный номер пользователя (для администратора ХХ): </strong> <%=  @review.user_id %></li>
    </ul>
  </body>
</html>