<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :user_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :user_description %>
  </div>

  <div class="field">
    <%= form.label :slave %>
    <%= form.text_area :slave, id: :user_slave %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :user_image %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :user_link %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :user_tag %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :user_url %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :user_link %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort, id: :user_sort %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :user_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
