<%= form_for user, html: { multipart: true }  do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="file-upload">
    <label>
      <%= form.file_field :image %>
      <span>Загрузить фото</span>
    </label>
    </div>
    <div id="file-name"></div>
  </div>

  <div class="field">
    <%= form.label :fio %>
    <%= form.text_field :fio, id: :user_fio %>
  </div>
  
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_phone %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :hb %>
    <%= form.text_field :hb, id: :user_hb %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :card %>
    <%= form.text_field :card, id: :user_card %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :role %>
    <%= form.text_field :role, id: :user_role %>
  </div>


  <div class="field" style="display:none;">
    <%= form.label :bonuses %>
    <%= form.text_field :bonuses, id: :user_bonuses %>
  </div>
  
  <div class="field" style="display:none;">
    <%= form.label :percent %>
    <%= form.text_field :percent, id: :user_percent %>
  </div>

  <div class="actions">
    <%= form.submit 'Обновить профиль' %>
  </div>
<% end %>
