<section class="news">
<%= render partial: 'application/navbar', locals: {back: false}%>
<%= render partial: 'application/header', locals: {h1:@user.fio, h1up:"Info"}%>
<div class="content">
  <div class="page">
    <p id="notice"><%= notice %></p>
    <div class="user-images">
      <%= image_tag @user.image.url(:thumb) %>
    </div>
    <div class="user-info">
      <div class="bs">
        <% if(@data_1C["bonusSum"] == -1) %>
            <div class="balli">
              Для работы с баллами карты лояльности, необходимо указать ФИО и последние 4 цифры номера карты 
            </div>
        <% else %>
            <div class="bonuses"><span>баллов:</span><b><%= @data_1C["bonusSum"] %></b></div>
        <% end %>
            <!--<div class="sale"><span>скидка </span><%= @user.percent %>%</div>-->
      </div>
      <p>
        <strong>ФИО:</strong>
        <%= @user.fio %>
      </p>
      <p>
        <strong>Телефон:</strong>
        <%= @user.phone %>
      </p>
      <p>
        <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Карта лояльности: (последние 6 цифр)</strong>
        <%= @user.card %>
      </p>
  </div>

  <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'button' %>

  <% if(@data_1C["bonusSum"] > -1) %>
  <div class="balli">
    <h3>Работа с баллами</h3>
  <%= form_with(model: @bonuse, local: true) do |form| %>
    Передать пользователю с картой (последние 6 цифр):
    <%= form.number_field :card, id: :bonuses_card, value: 0 %>
    Количество бонусов:
    <%= form.number_field :card, id: :bonuses_quantify, value: 0 %>
     <%= link_to 'Передать', move_bonuses_path, class: 'js-bonuses-prize button' %>
  <% end %>
  </div>
  <% end %>
</div>
<%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>