<section class="news">
<%= render partial: 'application/navbar', locals: {back: false}%>
<%= render partial: 'application/header', locals: {h1:@user.fio, h1up:"Bavaria"}%>
<div class="content">
  <div class="page">
    <div class="user-images">
      <%= image_tag @user.image.url(:thumb) %>
    </div>
    <div class="user-info">
      <div class="bs">
        <div class="bonuses"><%= @data_1C["bonusSum"] %> <span>баллов</span></div>
        <div class="sale"><span>скидка </span><%= @user.percent %>%</div>
      </div>
      <p>
        <strong>ИФ:</strong>
        <%= @user.fio %>
      </p>
      <p>
        <strong>Телефон:</strong>
        <%= @user.phone %>
      </p>
      <p>
        <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Карта лояльности:</strong>
        <%= @user.card %>
      </p>
  </div>
  <div class="balli">
  <%= form_with(model: @bonuse, local: true) do |form| %>
    Передать пользователю с картой:
    <%= form.number_field :card, id: :bonuses_card, value: 0 %>
    Количество бонусов:
    <%= form.number_field :card, id: :bonuses_quantify, value: 0 %>
     <%= link_to 'Передать', bonuses_move_path, class: 'js-bonuses-prize button', method: :post, remote: true %>
  <% end %>
  </div>
</div>

<%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'button' %>

<%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>