<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url(:medium) %>
  <%= image_tag @user.image.url(:thumb) %>
  <%= image_tag @user.image.url(:original) %>
</p>

<p>
  <strong>FIO:</strong>
  <%= @user.fio %>
</p>
<p>
  <strong>HB:</strong>
  <%= @user.hb %>
</p>


<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>card:</strong>
  <%= @user.card %>
</p>

<p>
  <strong>phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>bonuses:</strong>
  <%= @user.bonuses %>
</p>

<p>
  <strong>percent:</strong>
  <%= @user.percent %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
