<section class="news">
<%= render partial: 'application/navbar', locals: {back: false}%>
<%= render partial: 'application/header', locals: {h1:@user.fio, h1up:"Bavaria"}%>
<div class="content">
  <div class="page">
    <div class="user-images">
      <%= image_tag @user.image.url(:thumb) %>
    </div>
    <div class="user-info">
      <div class="bs">
        <div class="bonuses"><%= @user.bonuses %> <span>баллов</span></div>
        <div class="sale"><span>скидка </span><%= @user.percent %>%</div>
      </div>
      <p>
        <strong>HB:</strong>
        <%= @user.hb %>
      </p>
      <p>
        <strong>email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>card:</strong>
        <%= @user.card %>
      </p>
      <p>
        <strong>phone:</strong>
        <%= @user.phone %>
      </p>
  </div>
</div>

<%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'button' %>

<%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>