<section class="news">
 <%= render partial: 'application/navbar', locals: {back: false}%>
 <%= render partial: 'application/header', locals: {h1:"Редактирование события", h1up:"Events"}%>
<div class="content">
	<%= render 'form', event: @event, gallery: @gallery  %>
	<%= link_to 'Show', @event %>
</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>
