<section class="news">
 <%= render partial: 'application/navbar', locals: {back: false}%>
 <%= render partial: 'application/header', locals: {h1:"Новости и акции", h1up:"News"}%>
<div class="content">
<select>
  <option>Все</option>
  <option>Дорадо</option>
  <option>Бавария</option>
  <option>Акции</option>
</select>
<div class="table">
    <% @events.each do |event| %>
       <div class="iteam">
        <%= link_to event do %>
          <div class="photo"><%= event.image %><div class="time_box"><%= event.id.generation_time.day %><span>авг</span></div></div>
          <div class="title"><h3><%= event.title %></h3></div>
          <div class="time"><%= event.id.generation_time.day %>.<%= event.id.generation_time.month %>.<%= event.id.generation_time.year %>, <%= event.tag %>
          </div>
        <% end %>
        </a>
      </div>
    <% end %>
</div>
</table>
<%= link_to 'Добавить', new_event_path, class: 'admin_button' %>
</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>
