<section class="news">
<div class="header">
  <div class="slider">
      <div class="slider-overlay">
        <a href="/" class="logo">
        </a>
      </div>
           <ul class="slidewrapper">
                <li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
        <li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
        <li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
        <li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
            </ul>
  </div>
</div>
<div class="content">
<h1>Новости и акции</h1>
<p id="notice"><%= notice %></p>
<div class="table news">
    <% @events.each do |event| %>
       <div class="iteam">
        <a href="<%= event.link %>">
          <div class="photo"><%= event.image %></div>
          <div class="title"><h3><%= event.title %></h3></div>
          <div class="time"><%= event.tag %></div>
        </a>
      </div>
    <% end %>
</div>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
</div>
</section>
