<section class="news">
 <%= render partial: 'application/navbar', locals: {back: false}%>
 <%= render partial: 'application/header', locals: {h1:"События", h1up:"Events"}%>
<div class="content">

<div class="search">
  <ul>
    <li class="current">Категории</li>
    <li><a href="/events/">Все</a></li>
    <li><a href="/events/search/дорадо">Дорадо</a></li>
    <li><a href="/events/search/бавария">Бавария</a></li>
    <li><a href="/events/search/акция">Акции</a></li>
  </ul>
</div>

<div class="table">
    <% @events.each do |event| %>
       <div class="iteam">
        <%= link_to event do %>
          <div class="photo"><%= image_tag (has_image?(event.photos[0]) ? get_image(event.photos[0]).image.url(:thumb) : 'backgrounds/no-image320x240.png'), height: '150'%><div class="time_box"><%= event.id.generation_time.day %><span>/<%= event.id.generation_time.month %></span></div></div>
          <div class="title"><h3><%= event.title %></h3></div>
          <div class="time"><%= event.id.generation_time.day %>.<%= event.id.generation_time.month %>.<%= event.id.generation_time.year %>, <%= event.tag %>
          </div>
        <% end %>
        </a>
      </div>
    <% end %>
</div>
</table>
<% if current_user.admin? %>
  <%= link_to 'Добавить', new_event_path, class: 'button' %>
<% end %>
</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>
