
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @event.slave %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<p>
  <strong>tag:</strong>
  <%= @event.tag %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @event.sort %>
</p>

<p>
  <strong>Count:</strong>
  <%= @event.count %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
