<section class="newsiteam">
 <%= render partial: 'application/navbar', locals: {back: true}%>
 <%= render partial: 'application/header', locals: {h1:@event.title, h1up:"News"}%>
<div class="content">
<div class="text">
    <div class="time"><%= @event.id.generation_time.day %>.<%= @event.id.generation_time.month %>.<%= @event.id.generation_time.year %></div>
    <div class="tags"><%= @event.tag %></div>
    
    <p><%= @event.description %></p>

<p>
  <strong>Slave:</strong>
  <%= @event.slave %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<p>
  <strong>tag:</strong>
  <%= @event.tag %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @event.sort %>
</p>

<p>
  <strong>Count:</strong>
  <%= @event.count %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: 'button' %>

</div>
</table>
</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>


