<section class="newsiteam">
 <%= render partial: 'application/navbar', locals: {back: true, back_url: events_path}%>
 <%= render partial: 'application/header', locals: {h1:@event.title, h1up:"Events", image_url: (get_image(@event.photos[0]).nil? ? '' : get_image(@event.photos[0]).image.url) }%>
<div class="content">
<div class="text">
    <div class="time"><%= @event.id.generation_time.day %>.<%= @event.id.generation_time.month %>.<%= @event.id.generation_time.year %></div>
    <div class="tags"><%= @event.tag %></div>
    <div class="page">
    <div class="product-images">
    <% if has_image? @event.photos[0] %>
        <% @event.photos.each do |meta| %>
            <%= image_tag get_image(meta).image.url, class: 'img-responsive', width: '320' %>
        <% end %>
    <% else %>
      <%= image_tag 'backgrounds/no-image320x240.png', class: 'img-responsive' %>
    <%end%>
    </div>
    <div class="description"><%= @event.description.html_safe %></div>
    </div>
    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'Удалить', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
            <%= link_to 'Редактировать', edit_event_path(@event), class: 'button' %>
        <%end%>
    <%end%>


</div>
</table>
</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>


