<section class="newsiteam">
 <%= render partial: 'application/navbar', locals: {back: true, back_url: orders_path} %>
 <%= render partial: 'application/header', locals: {h1:'Столик забронирован', h1up:"Events", image_url: (get_image(@event.photos[0]).nil? ? '' : get_image(@event.photos[0]).image.url) }%>
<div class="content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @order.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
