<section class="news">
<%= render partial: 'application/navbar', locals: {back: false}%>
<%= render partial: 'application/header', locals: {h1:"Зал Бавария", h1up:"Bavaria"}%>
<div class="content">
<div class="bavaria"></div>
<div class="text">
<p>Знатоков и любителей пива ждут на втором этаже в зале – «Бавария». Вы сможете насладиться вкусом свежесваренных сортов пива: Дункель, Хелль, Kristal Хелль, Вайцен, IPA. </p>
<p>Пиво с нашей пивоварни оценено не только постоянными гостями, но и престижными международными выставками с присвоением золотых медалей. Вас так же порадует интересное меню, в котором сочетаются блюда европейкой и русской кухни.</p>
</div>
<div class="menu">
    <% file = show_file('bavaria-main') %>
    <%= link_to "ОСН. МЕНЮ",    file.document.url, title: file.title if file %>   

    <% file = show_file('child') %>
    <%= link_to "ДЕТСКОЕ МЕНЮ", file.document.url, title: file.title if file %>
    
    <% file = show_file('bavaria-lanch') %>
    <%= link_to "ЛАНЧ",    file.document.url, title: file.title if file %>  
</div>
<div class="menu">
    <% file = show_file('newyear') %>
    <%= link_to "НОВОГОДНЕЕ МЕНЮ", file.document.url, title: file.title if file %>
</div>
<div class="photos">
          <div class="photo-iteam"><%= image_tag("b01.jpg", class: "tobig", alt: "") %></div>
          <div class="photo-iteam"><%= image_tag("b02.jpg", class: "tobig", alt: "") %></div>
          <div class="photo-iteam"><%= image_tag("b03.jpg", class: "tobig", alt: "") %></div>
          <div class="photo-iteam"><%= image_tag("b04.jpg", class: "tobig", alt: "") %></div>
</div>
<a href="/reservations/new" class="button">Забронировать столик</a>
</div>
<h2>Последние новости</h2>
<div class="table">
<% Event.where(tag: /бавария/i).each do |bavaria| %>
 <div class="iteam">
    <%= link_to bavaria do %>
      <div class="photo"><%= image_tag (has_image?(bavaria.photos[0]) ? get_image(bavaria.photos[0]).image.url(:thumb) : 'backgrounds/no-image320x240.png'), height: '150'%></div>
      <div class="title">
        <div class="time"><%= bavaria.id.generation_time.day %>.<%= bavaria.id.generation_time.month %>.<%= bavaria.id.generation_time.year %></div>
         <h3><%= bavaria.title %></h3>
      </div>
      <div class="tags"><%= bavaria.tag %></div>
    <% end %>
    </a>
  </div>
<% end %>
</div>

<%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>

