<section class="news">
<%= render partial: 'application/navbar', locals: {back: false}%>
<%= render partial: 'application/header', locals: {h1:"Зал Дорадо", h1up:"Dorado"}%>
<div class="content">
<div class="dorado"></div>
<div class="text">
<p>Приватность и элегантный уют в гармоничном сочетании с открытой кухней порадуют гостей первого этажа в зале средиземноморской кухни – «Дорадо». Свежие продукты, идеи, комбинации вкусов и изысканные их сочетания не оставят равнодушными ценителей блюд из морепродуктов.</p>
</div>
<div class="menu">
    <% file = show_file('dorado-main') %>
    <%= link_to "ОСН. МЕНЮ", file.document.url, title: file.title if file %>

    <% file = show_file('dorado-bar') %>
    <%= link_to "БАРНАЯ КАРТА", file.document.url, title: file.title if file %>

    <% file = show_file('child') %>
    <%= link_to "ДЕТСКОЕ МЕНЮ", file.document.url, title: file.title if file %>

      <% file = show_file('dorado-lanch') %>
    <%= link_to "ЛАНЧ",    file.document.url, title: file.title if file %>  
</div>
<div class="menu">
    <% file = show_file('newyear') %>
    <%= link_to "НОВОГОДНЕЕ МЕНЮ", file.document.url, title: file.title if file %>
</div>
<div class="photos">
    <div class="photo-iteam"><%= image_tag("d01.jpg", class: "tobig", alt: "") %></div>
    <div class="photo-iteam"><%= image_tag("d02.jpg", class: "tobig", alt: "") %></div>
    <div class="photo-iteam"><%= image_tag("d03.jpg", class: "tobig", alt: "") %></div>
    <div class="photo-iteam"><%= image_tag("d04.jpg", class: "tobig", alt: "") %></div>
</div>
<a href="/reservations/new" class="button">Забронировать столик</a>
</div>
<h2>Последние новости</h2>
<div class="table">
<% Event.where(tag: /дорадо/i).each do |dorado| %>
 <div class="iteam">
    <%= link_to dorado do %>
      <div class="photo"><%= image_tag (has_image?(dorado.photos[0]) ? get_image(dorado.photos[0]).image.url(:thumb) : 'backgrounds/no-image320x240.png'), height: '150'%></div>
      <div class="title">
        <div class="time"><%= dorado.id.generation_time.day %>.<%= dorado.id.generation_time.month %>.<%= dorado.id.generation_time.year %></div>
         <h3><%= dorado.title %></h3>
      </div>
      <div class="tags"><%= dorado.tag %></div>
    <% end %>
    </a>
  </div>
    <% end %>
</div>

<%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>

