<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= form.label :date %>
        <%= form.text_field :date, id: :reservation_date, class: 'datepicker-block' %>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <%= form.label :time %>
        <%= form.text_field :time, id: :reservation_time, class: 'timepicker-block' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= form.label :room %>
        <select>
          <option selected="selected">Дорадо</option>
          <option>Бавария</option>
          <option>Веранда</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <%= form.label :person %>
        <%= form.number_field :person, id: :reservation_person, class: 'person-count',  min: 1, max: 99 %>
      </div>
    </div>
  </div>


  <div class="field"> 
    <%= form.label :name %>
    <%= form.text_field :name, id: :reservation_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :reservation_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :reservation_email %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :reservation_description %>
  </div>


  <div class="actions">
    <%= form.submit 'Забронировать' %>
  </div>
<% end %>
