<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :cart_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :cart_description %>
  </div>

  <div class="field">
    <%= form.label :slave %>
    <%= form.text_area :slave, id: :cart_slave %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :cart_image %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :cart_link %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :cart_tag %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :cart_url %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :cart_link %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort, id: :cart_sort %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :cart_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
