<div class="header">
  <div class="slider">
      <div class="slider-overlay">
        <a href="/" class="logo animated flipInY">
        </a>
        <h1 class="animated fadeInUp"><div class="up"><%= h1up %></div><%= h1 %></h1>
      </div>
      <ul class="slidewrapper"> 
        <%if defined?(image_url)=="local-variable"%>
        <li class="slide-off" style="background-image:url('<%= image_url%>)"></li>
        <%else%>
        <li class="slide"><%= image_tag("d01.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("b01.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("d02.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("b02.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("d03.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("b03.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("d04.jpg", class: "tobig", alt: "") %></li>
        <li class="slide"><%= image_tag("b04.jpg", class: "tobig", alt: "") %></li>
        <%end%>
      </ul>
  </div>
</div>