<script type="text/javascript">
(function() {
  document.addEventListener("turbolinks:load", function() {
  Dropzone.autoDiscover = false;

  Dropzone.options.myAwesomeDropzone = {
    init: function() {
      var dz, mockFile, url;

      Dropzone.startStatus = true;
      this.on("success", function(file, response) {
        $("#product-form").append('<input type="hidden" name="product[photos][]" value="' + response.id.$oid + '">');
        return $("#event-form").append('<input type="hidden" name="event[photos][]" value="' + response.id.$oid + '">');
      });

      $('.dz-complete').remove()
      dz = this;

<% if has_image? product.photos[0] %>
<% product.photos.each do |meta_mongoid| %>
      url = '<%= get_image(meta_mongoid).image.url %>';
      mockFile = {
        name: 'image.name',
        size: 12345,
        accepted: true,
        kind: 'image',
        upload: {
          filename: 'kirandi.jpg'
        },
        dataURL: url
      };

      this.files.push(mockFile);
      this.emit("addedfile", mockFile);
      this.createThumbnailFromUrl(mockFile, this.options.thumbnailWidth, this.options.thumbnailHeight, this.options.thumbnailMethod, true, function(thumbnail) {
        dz.emit('thumbnail', mockFile, thumbnail);
        return dz.emit("complete", mockFile);
      });
<% end %>
<% end %>
    }
  };

  Dropzone.discover();
});

}).call(this);
</script>
<div class="row">
  <div class="col-md-6">
    <div class="fallback">
      <%= form_with(model: gallery, local: true, html: {class: "dropzone", id: "myAwesomeDropzone"}) do |form| %>
        <% if gallery.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

            <ul>
            <% gallery.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      <% end if gallery %>
    </div>
  </div>
  <div class="col-md-6">
    <%= form_for product, html: { class: "form-horizontal", multipart: true, id: 'product-form' }  do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, id: :product_title %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, id: :product_description %>
      </div>

      <div class="field">
        <%= form.label :slave %>
        <%= form.text_area :slave, id: :product_slave %>
      </div>

      <div class="field">
        <%= form.label :image %>
        <%= form.text_field :image, id: :product_image %>
      </div>

      <div class="field">
        <%= form.label :link %>
        <%= form.text_field :link, id: :product_link %>
      </div>

      <div class="field">
        <%= form.label :tag %>
        <%= form.text_field :tag, id: :product_tag %>
      </div>

      <div class="field">
        <%= form.label :url %>
        <%= form.text_field :url, id: :product_url %>
      </div>

      <div class="field">
        <%= form.label :link %>
        <%= form.text_field :link, id: :product_link %>
      </div>

      <div class="field">
        <%= form.label :sort %>
        <%= form.number_field :sort, id: :product_sort %>
      </div>

      <div class="field">
        <%= form.label :count %>
        <%= form.number_field :count, id: :product_count %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>