<section class="products">
  <%= render partial: 'application/navbar', locals: {back: false}%>
  <%= render partial: 'application/header', locals: {h1:"МЕНЮ ДОСТАВКИ", h1up:"Menu"}%>
  <div class="content">
    <div class="table news">
      <% @products.each do |product| %>
      <div class="iteam">
      <%= link_to product do %>
        <div class="photo"><%= image_tag (has_image?(product.photos[0]) ? get_image(product.photos[0]).image.url(:thumb) : 'backgrounds/no-image320x240.png'), height: '150'%></div>
        <div class="title"><h3><%= product.title %></h3><div class="desc"><%= product.description %></div></div>
        <div class="price"><%= product.link %><span>руб.</span></div>
        <%= link_to '', cart_item_add_path(:product_id => product.id), class: 'js-cart-item-add add_to_cart', method: :post, remote: true %>
        
      <% end %>
      </div>
      <% end %>
    </div>
    <%= link_to 'New Product', new_product_path %>
  </div> 
  <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>