<section class="news">
 <%= render partial: 'application/navbar', locals: {back: true, back_url: products_path}%>
 <%= render partial: 'application/header', locals: {h1:@product.title, h1up:"Menu", bg:"", image_url: (get_image(@product.photos[0]).nil? ? '' : get_image(@product.photos[0]).image.url) }%>
<div class="content">
      <div class="page">
    <div class="product-images">
    <% if has_image? @product.photos[0] %>
        <% @product.photos.each do |meta| %>
            <%= image_tag get_image(meta).image.url, class: 'img-responsive', width: '320' %>
        <% end %>
    <% else %>
      <%= image_tag 'backgrounds/no-image320x240.png', class: 'img-responsive' %>
    <%end%>
    </div>
    <div class="description">
      <h3><%= @product.title %></h3>
      <%= @product.description %>
      <p>Состав: <%= @product.slave %></p>
      Вес: <%= @product.image %>
      <div class="price"><%= @product.link %><span>руб.</span></div>
      <%= link_to '', cart_item_add_path(:product_id => @product.id), class: 'js-cart-item-add add_to_cart', method: :post, remote: true %>
    </div>
<%= link_to 'Edit', edit_product_path(@product) %> |

</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>
