<section class="news">
 <%= render partial: 'application/navbar', locals: {back: true}%>
 <%= render partial: 'application/header', locals: {h1:@product.title, h1up:"Menu", bg:"", image_url: get_image(@product.photos[0]).image.url }%>
<div class="content">
<p>
  <strong>Title:</strong>
  <%=  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @product.slave %>
</p>


<% if has_image? @product.photos[0] %>
  <ul class="product-images">
    <% @product.photos.each do |meta| %>
      <li class="item">
        <div class="meta">meta</div>
        <%= image_tag get_image(meta).image.url, class: 'img-responsive', width: '320' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= image_tag 'backgrounds/no-image320x240.png', class: 'img-responsive' %>
<%end%>


<p>
  <strong>Link:</strong>
  <%= @product.link %>
</p>

<p>
  <strong>tag:</strong>
  <%= @product.tag %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @product.link %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @product.sort %>
</p>

<p>
  <strong>Count:</strong>
  <%= @product.count %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |

</div>
 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>
