<!DOCTYPE html>
<html>
  <head>
    <title>Hh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sections">
      <%= yield %>
    </div>
    <%= render partial: 'application/footer', locals: { var1: 'fdsafds', var2: 'var2fdasfds' }%>
  </body>
</html>
